/* HEADER */
.header {
    background: $white;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__brand {
        font-size: 1.5rem;
        font-weight: 800;
        color: $primary;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__nav {
        display: flex;
        gap: 15px;
    }

    &__link {
        text-decoration: none;
        color: $dark;
        font-weight: 600;

        &:hover {
            color: $primary;
        }
    }
}