/* PLAYER MINI */
.player-mini {
    text-align: center;
    background: $white;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #eee;

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #ddd;
        margin: 0 auto 10px;
        object-fit: cover;
    }

    &__name {
        font-weight: bold;
        font-size: 1rem;
        color: $primary;
        margin-bottom: 0.2rem;
    }
}