/* VARIABLES */
$primary: #00529F;
$accent: #FEBE10;
$dark: #1a1a1a;
$light: #f8f9fa;
$white: #ffffff;
$success: #25f505; // Añadido para los fichajes "Hecho"
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;